USE [master]
GO
/****** Object:  Database [kulturnovece]    Script Date: 10/29/2025 6:45:45 PM ******/
CREATE DATABASE [kulturnovece]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'kulturnovece', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\kulturnovece.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'kulturnovece_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\kulturnovece_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [kulturnovece].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [kulturnovece]
GO
/****** Object:  User [LauraGrego]    Script Date: 10/29/2025 6:45:45 PM ******/
CREATE USER [LauraGrego] FOR LOGIN [LauraGrego] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [moderator]    Script Date: 10/29/2025 6:45:45 PM ******/
CREATE ROLE [moderator]
GO
/****** Object:  DatabaseRole [kapibara]    Script Date: 10/29/2025 6:45:45 PM ******/
CREATE ROLE [kapibara]
GO
/****** Object:  DatabaseRole [administrator]    Script Date: 10/29/2025 6:45:45 PM ******/
CREATE ROLE [administrator]
GO
ALTER ROLE [kapibara] ADD MEMBER [LauraGrego]
GO
/****** Object:  Schema [desavanja]    Script Date: 10/29/2025 6:45:46 PM ******/
CREATE SCHEMA [desavanja]
GO
/****** Object:  UserDefinedFunction [dbo].[dohvatiSliku]    Script Date: 10/29/2025 6:45:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create function [dbo].[dohvatiSliku](@korIme varchar(200))
returns varchar(200)
as
begin
	declare @putanja varchar(200)
	set @putanja=(select Putanja from Slika s, Korisnik k where s.IdSlike=k.IdSlike and k.KorisnickoIme=@korIme )
	return @putanja
end
GO
/****** Object:  UserDefinedFunction [dbo].[fOstvarenPopust]    Script Date: 10/29/2025 6:45:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[fOstvarenPopust](@korIme varchar(200))
returns int
as
begin
	declare @popust int
	set @popust= (select PopustNaCenu from Popust where BrojKarata< (select BrojKupljenihKarata from Korisnik where KorisnickoIme=@korIme))
	return @popust
end
GO
/****** Object:  UserDefinedFunction [dbo].[fProveraKorIme]    Script Date: 10/29/2025 6:45:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create function [dbo].[fProveraKorIme](@korIme varchar(200))
returns int
as 
begin
	declare @retVal int
	if exists (SELECT 1 FROM Korisnik WHERE KorisnickoIme = @korIme) set @retVal=-1
	else set @retVal= 0
	return @retVal
end
GO
/****** Object:  UserDefinedFunction [dbo].[fProveraKredencijala]    Script Date: 10/29/2025 6:45:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create function [dbo].[fProveraKredencijala](@mail varchar(200), @lozinka varchar(200))
returns int
as 
begin
	declare @korIme varchar(200)
	select @korIme = KorisnickoIme
    from Korisnik with (index = mejl_Kor) 
    where Email = @mail
	declare @retVal int
	if exists (SELECT * FROM Korisnik WHERE KorisnickoIme = @korIme)
		begin
			if ((select Lozinka from Korisnik where @korIme=KorisnickoIme)=@lozinka)
				begin
				if (@korIme in (select KorisnickoIme from Administrator)) set @retVal=2
				else if (@korIme in (select KorisnickoIme from Moderator)) set @retVal=1
				else set @retVal=0
				end
			else set @retVal=-2 
		end
	else set @retVal= -1
	return @retVal
end
GO
/****** Object:  UserDefinedFunction [dbo].[fProveraMail]    Script Date: 10/29/2025 6:45:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create function [dbo].[fProveraMail](@mail varchar(200))
returns int
as 
begin
	declare @retVal int
	if exists (SELECT 1 FROM Korisnik WHERE Email = @mail) set @retVal=-1
	else set @retVal= 0
	return @retVal
end
GO
/****** Object:  UserDefinedFunction [dbo].[proveraPrijave]    Script Date: 10/29/2025 6:45:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create function [dbo].[proveraPrijave](@korIme varchar(200), @lozinka varchar(200))
returns int
as 
begin
	declare @retVal int
	if exists (SELECT * FROM Korisnik WHERE KorisnickoIme = @korIme)
		begin
			if ((select Lozinka from Korisnik where @korIme=KorisnickoIme)=@lozinka)
				begin
				if (@korIme in (select KorisnickoIme from Administrator)) set @retVal=2
				else if (@korIme in (select KorisnickoIme from Moderator)) set @retVal=1
				else set @retVal=0
				end
			else set @retVal=-2 
		end
	else set @retVal= -1
	return @retVal
end
GO
/****** Object:  Table [dbo].[Korisnik]    Script Date: 10/29/2025 6:45:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Korisnik](
	[KorisnickoIme] [varchar](200) NOT NULL,
	[Lozinka] [varchar](50) NOT NULL,
	[Pretplacen] [int] NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Ime] [varchar](100) NULL,
	[Prezime] [varchar](100) NOT NULL,
	[IdSlike] [int] NULL,
	[NagradnaIgra] [int] NOT NULL,
	[BrojKupljenihKarata] [char](18) NULL,
 CONSTRAINT [XPKKorisnik] PRIMARY KEY CLUSTERED 
(
	[KorisnickoIme] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Komentar]    Script Date: 10/29/2025 6:45:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Komentar](
	[IdKomentara] [int] NOT NULL,
	[Tekst] [varchar](500) NOT NULL,
	[DatumVreme] [datetime] NOT NULL,
	[KorisnickoIme] [varchar](200) NULL,
	[obrisan] [int] NULL,
 CONSTRAINT [XPKKomentar] PRIMARY KEY CLUSTERED 
(
	[IdKomentara] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Slika]    Script Date: 10/29/2025 6:45:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Slika](
	[IdSlike] [int] NOT NULL,
	[Putanja] [varchar](200) NOT NULL,
 CONSTRAINT [XPKSlika] PRIMARY KEY CLUSTERED 
(
	[IdSlike] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[DohvatiKomentareZaIspis]    Script Date: 10/29/2025 6:45:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE function [dbo].[DohvatiKomentareZaIspis]()
returns table 
as
return(
	select k.Ime as Ime, k.Prezime as Prezime, s.Putanja, kom.Tekst
	from dbo.Komentar kom JOIN dbo.Korisnik k on (kom.KorisnickoIme=k.KorisnickoIme) left join dbo.Slika s on (k.IdSlike=s.IdSlike)
	where kom.obrisan=0 or kom.obrisan is null
);
GO
/****** Object:  UserDefinedFunction [dbo].[VratiPretplacene]    Script Date: 10/29/2025 6:45:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create function [dbo].[VratiPretplacene]()
returns table
as 
return (select * from dbo.Korisnik where Pretplacen=1)
GO
/****** Object:  UserDefinedFunction [dbo].[VratiUcesnikeIgre]    Script Date: 10/29/2025 6:45:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[VratiUcesnikeIgre]()
returns table
as
return (select Email from dbo.Korisnik where NagradnaIgra=1)

GO
/****** Object:  Table [desavanja].[Desavanja]    Script Date: 10/29/2025 6:45:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [desavanja].[Desavanja](
	[IdDesavanja] [int] NOT NULL,
	[DatumVreme] [datetime] NULL,
	[Opis] [varchar](1000) NOT NULL,
	[Cena] [int] NOT NULL,
	[IdLokacije] [int] NOT NULL,
	[IdSlike] [int] NULL,
	[zavrsilo] [int] NULL,
 CONSTRAINT [XPKDesavanja] PRIMARY KEY CLUSTERED 
(
	[IdDesavanja] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [desavanja].[Film]    Script Date: 10/29/2025 6:45:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [desavanja].[Film](
	[IdDesavanja] [int] NOT NULL,
	[Trajanje] [datetime] NOT NULL,
	[Tagovi] [varchar](200) NULL,
	[Naziv] [varchar](200) NULL,
 CONSTRAINT [XPKFilm] PRIMARY KEY CLUSTERED 
(
	[IdDesavanja] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [desavanja].[Izložba]    Script Date: 10/29/2025 6:45:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [desavanja].[Izložba](
	[IdDesavanja] [int] NOT NULL,
 CONSTRAINT [XPKIzložba] PRIMARY KEY CLUSTERED 
(
	[IdDesavanja] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [desavanja].[Koncert]    Script Date: 10/29/2025 6:45:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [desavanja].[Koncert](
	[IdDesavanja] [int] NOT NULL,
	[KlasicnaMuzika] [int] NOT NULL,
	[Opera] [int] NOT NULL,
 CONSTRAINT [XPKKoncert] PRIMARY KEY CLUSTERED 
(
	[IdDesavanja] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lokacija]    Script Date: 10/29/2025 6:45:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lokacija](
	[IdLokacije] [int] NOT NULL,
	[Naziv] [varchar](50) NOT NULL,
 CONSTRAINT [XPKLokacija] PRIMARY KEY CLUSTERED 
(
	[IdLokacije] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [desavanja].[Ostalo]    Script Date: 10/29/2025 6:45:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [desavanja].[Ostalo](
	[IdDesavanja] [int] NOT NULL,
 CONSTRAINT [XPKOstalo] PRIMARY KEY CLUSTERED 
(
	[IdDesavanja] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [desavanja].[Predstava]    Script Date: 10/29/2025 6:45:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [desavanja].[Predstava](
	[IdDesavanja] [int] NOT NULL,
 CONSTRAINT [XPKPredstava] PRIMARY KEY CLUSTERED 
(
	[IdDesavanja] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [desavanja].[StandUpShow]    Script Date: 10/29/2025 6:45:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [desavanja].[StandUpShow](
	[IdDesavanja] [int] NOT NULL,
 CONSTRAINT [XPKStandUpShow] PRIMARY KEY CLUSTERED 
(
	[IdDesavanja] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[fIspisDesavanja]    Script Date: 10/29/2025 6:45:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE function [dbo].[fIspisDesavanja]()
returns table
as
return
(
	select f.Naziv as Vrsta, DatumVreme, Opis, Cena, l.Naziv, Trajanje, Putanja, zavrsilo
	from desavanja.Film f join desavanja.Desavanja d on (f.IdDesavanja=d.IdDesavanja) join dbo.Lokacija l on(l.IdLokacije=d.IdLokacije) join dbo.Slika s on(d.IdSlike=s.IdSlike)
	union
	select 'Predstava', DatumVreme, Opis,Cena, l.Naziv, 0, Putanja, zavrsilo
	from desavanja.Predstava p join desavanja.Desavanja d on (p.IdDesavanja=d.IdDesavanja) join dbo.Lokacija l on(l.IdLokacije=d.IdLokacije) join dbo.Slika s on(d.IdSlike=s.IdSlike)
	union
	select 'Izložba', DatumVreme, Opis,Cena, l.Naziv, 0, Putanja, zavrsilo
	from desavanja.Izložba i join desavanja.Desavanja d on (i.IdDesavanja=d.IdDesavanja) join dbo.Lokacija l on(l.IdLokacije=d.IdLokacije) join dbo.Slika s on(d.IdSlike=s.IdSlike)
	union
	select 'Stand up show', DatumVreme, Opis,Cena, l.Naziv, 0, Putanja, zavrsilo
	from desavanja.StandUpShow s join desavanja.Desavanja d on (s.IdDesavanja=d.IdDesavanja) join dbo.Lokacija l on(l.IdLokacije=d.IdLokacije) join dbo.Slika s2 on(d.IdSlike=s2.IdSlike)
	union
	select 'Ostalo', DatumVreme, Opis,Cena, l.Naziv, 0, Putanja, zavrsilo
	from desavanja.Ostalo o join desavanja.Desavanja d on (o.IdDesavanja=d.IdDesavanja) join dbo.Lokacija l on(l.IdLokacije=d.IdLokacije) join dbo.Slika s on(d.IdSlike=s.IdSlike)
	union
	select case k.Opera
	when 0 then 'Koncert klasične muzike'
	else 'Opera' 
	end as Vrsta, DatumVreme, Opis,Cena, l.Naziv, 0, Putanja, zavrsilo
	from desavanja.Koncert k join desavanja.Desavanja d on (k.IdDesavanja=d.IdDesavanja) join dbo.Lokacija l on(l.IdLokacije=d.IdLokacije) join dbo.Slika s on(d.IdSlike=s.IdSlike)
);
GO
/****** Object:  UserDefinedFunction [dbo].[fPretragaOpis]    Script Date: 10/29/2025 6:45:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create function [dbo].[fPretragaOpis](@opis varchar(1000))
returns table
as 
return 
(
select *
from Desavanja
where (Opis like '%' + @opis + '%') or (Opis like @opis + '%') or (Opis like '%' + @opis) 
);
GO
/****** Object:  Table [dbo].[Administrator]    Script Date: 10/29/2025 6:45:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Administrator](
	[KorisnickoIme] [varchar](200) NOT NULL,
	[BrojTelefona] [int] NOT NULL,
 CONSTRAINT [XPKAdministrator] PRIMARY KEY CLUSTERED 
(
	[KorisnickoIme] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Moderator]    Script Date: 10/29/2025 6:45:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Moderator](
	[KorisnickoIme] [varchar](200) NOT NULL,
 CONSTRAINT [XPKModerator] PRIMARY KEY CLUSTERED 
(
	[KorisnickoIme] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Popust]    Script Date: 10/29/2025 6:45:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Popust](
	[BrojKarata] [int] NOT NULL,
	[PopustNaCenu] [int] NOT NULL,
 CONSTRAINT [XPKPopust] PRIMARY KEY CLUSTERED 
(
	[BrojKarata] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RezervacijaIUplata]    Script Date: 10/29/2025 6:45:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RezervacijaIUplata](
	[DatumVreme] [datetime] NOT NULL,
	[Iznos] [int] NOT NULL,
	[KorisnickoIme] [varchar](200) NULL,
	[IdDesavanja] [int] NULL,
	[IdRU] [int] NOT NULL,
 CONSTRAINT [XPKRezervacijaIUplata] PRIMARY KEY CLUSTERED 
(
	[IdRU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Administrator] ([KorisnickoIme], [BrojTelefona]) VALUES (N'laurica', 605687999)
INSERT [dbo].[Administrator] ([KorisnickoIme], [BrojTelefona]) VALUES (N'tasha', 654321234)
GO
INSERT [dbo].[Komentar] ([IdKomentara], [Tekst], [DatumVreme], [KorisnickoIme], [obrisan]) VALUES (1, N'Jedina zamerka je sto nema Gospodar prstenova, sve ostalo top, pozz        ', CAST(N'2023-06-07T20:00:00.000' AS DateTime), N'hobiti', 0)
INSERT [dbo].[Komentar] ([IdKomentara], [Tekst], [DatumVreme], [KorisnickoIme], [obrisan]) VALUES (2, N'Nadjite mi projekciju Hobita makar molim Vas!!!!!  ', CAST(N'2023-06-07T20:00:00.000' AS DateTime), N'hobiti', 1)
INSERT [dbo].[Komentar] ([IdKomentara], [Tekst], [DatumVreme], [KorisnickoIme], [obrisan]) VALUES (3, N'Moze li neka izlozba vezana za Antarktik?', CAST(N'2023-06-07T20:00:00.000' AS DateTime), N'zikica', 0)
GO
INSERT [dbo].[Korisnik] ([KorisnickoIme], [Lozinka], [Pretplacen], [Email], [Ime], [Prezime], [IdSlike], [NagradnaIgra], [BrojKupljenihKarata]) VALUES (N'anci', N'mojalozinka', 1, N'anabanana@gmail.com', N'Ana', N'Markovic', NULL, 0, N'0                 ')
INSERT [dbo].[Korisnik] ([KorisnickoIme], [Lozinka], [Pretplacen], [Email], [Ime], [Prezime], [IdSlike], [NagradnaIgra], [BrojKupljenihKarata]) VALUES (N'anci2', N'anci12345', 0, N'anci123@gmail.com', N'Ana', N'Markovic', 14, 0, N'0                 ')
INSERT [dbo].[Korisnik] ([KorisnickoIme], [Lozinka], [Pretplacen], [Email], [Ime], [Prezime], [IdSlike], [NagradnaIgra], [BrojKupljenihKarata]) VALUES (N'meda', N'volimmed', 1, N'bucko@gmail.com', N'Vini', N'Pu', NULL, 0, N'0                 ')
GO
INSERT [dbo].[Lokacija] ([IdLokacije], [Naziv]) VALUES (1, N'Voždovac')
INSERT [dbo].[Lokacija] ([IdLokacije], [Naziv]) VALUES (2, N'Vracar')
INSERT [dbo].[Lokacija] ([IdLokacije], [Naziv]) VALUES (3, N'Zvezdara')
GO
INSERT [dbo].[Moderator] ([KorisnickoIme]) VALUES (N'tica')
GO
INSERT [dbo].[Popust] ([BrojKarata], [PopustNaCenu]) VALUES (10, 2)
INSERT [dbo].[Popust] ([BrojKarata], [PopustNaCenu]) VALUES (20, 5)
INSERT [dbo].[Popust] ([BrojKarata], [PopustNaCenu]) VALUES (40, 10)
GO
INSERT [dbo].[RezervacijaIUplata] ([DatumVreme], [Iznos], [KorisnickoIme], [IdDesavanja], [IdRU]) VALUES (CAST(N'2023-06-19T20:31:09.377' AS DateTime), 800, N'hobiti', NULL, 1)
INSERT [dbo].[RezervacijaIUplata] ([DatumVreme], [Iznos], [KorisnickoIme], [IdDesavanja], [IdRU]) VALUES (CAST(N'2023-06-19T20:42:13.680' AS DateTime), 800, N'zikica', NULL, 2)
INSERT [dbo].[RezervacijaIUplata] ([DatumVreme], [Iznos], [KorisnickoIme], [IdDesavanja], [IdRU]) VALUES (CAST(N'2023-06-19T22:45:14.930' AS DateTime), 800, NULL, NULL, 3)
GO
INSERT [dbo].[Slika] ([IdSlike], [Putanja]) VALUES (1, N'slike2/canYouDigIt.jpg')
INSERT [dbo].[Slika] ([IdSlike], [Putanja]) VALUES (2, N'slike2/dincicStandUp.jpg')
INSERT [dbo].[Slika] ([IdSlike], [Putanja]) VALUES (3, N'slike2/elementalFilm.png')
GO
INSERT [desavanja].[Desavanja] ([IdDesavanja], [DatumVreme], [Opis], [Cena], [IdLokacije], [IdSlike], [zavrsilo]) VALUES (1, CAST(N'2023-06-08T18:00:00.000' AS DateTime), N'Povodom 150 godina rodenja Nadežde Petrovic, Narodni muzej predstavlja postavku posvecenu crtackom opusu rodonacelnice srpske moderne umetnosti', 300, 9, 11, 0)
INSERT [desavanja].[Desavanja] ([IdDesavanja], [DatumVreme], [Opis], [Cena], [IdLokacije], [IdSlike], [zavrsilo]) VALUES (2, CAST(N'2023-06-17T19:00:00.000' AS DateTime), N' Izložba „Milorad Bata Mihailovic – povodom stogodišnjice rodenja buntovnika akademika“ galerija SANU', 0, 9, 13, 0)
INSERT [desavanja].[Desavanja] ([IdDesavanja], [DatumVreme], [Opis], [Cena], [IdLokacije], [IdSlike], [zavrsilo]) VALUES (3, CAST(N'2023-06-29T19:30:00.000' AS DateTime), N'Falstaf, opera u tri cina Djuzepe Verdija, bice održana u Narodnom pozorištu u Beogradu na Velikoj sceni', 1000, 9, 4, 0)
GO
INSERT [desavanja].[Film] ([IdDesavanja], [Trajanje], [Tagovi], [Naziv]) VALUES (11, CAST(N'2023-06-28T21:35:00.000' AS DateTime), N'akcija, avantura', N'Film: Indijana Džouns: Artefakt sudbine')
INSERT [desavanja].[Film] ([IdDesavanja], [Trajanje], [Tagovi], [Naziv]) VALUES (12, CAST(N'2023-06-15T20:43:00.000' AS DateTime), N'animirani, komedija, avantura', N'Film: Elemental')
INSERT [desavanja].[Film] ([IdDesavanja], [Trajanje], [Tagovi], [Naziv]) VALUES (13, CAST(N'2023-06-14T21:24:00.000' AS DateTime), N'akcija, avantura, fantazija', N'Film: Fleš')
GO
INSERT [desavanja].[Izložba] ([IdDesavanja]) VALUES (1)
INSERT [desavanja].[Izložba] ([IdDesavanja]) VALUES (2)
GO
INSERT [desavanja].[Koncert] ([IdDesavanja], [KlasicnaMuzika], [Opera]) VALUES (3, 0, 1)
INSERT [desavanja].[Koncert] ([IdDesavanja], [KlasicnaMuzika], [Opera]) VALUES (6, 1, 0)
INSERT [desavanja].[Koncert] ([IdDesavanja], [KlasicnaMuzika], [Opera]) VALUES (7, 1, 0)
GO
INSERT [desavanja].[Predstava] ([IdDesavanja]) VALUES (4)
INSERT [desavanja].[Predstava] ([IdDesavanja]) VALUES (5)
GO
INSERT [desavanja].[StandUpShow] ([IdDesavanja]) VALUES (8)
INSERT [desavanja].[StandUpShow] ([IdDesavanja]) VALUES (9)
INSERT [desavanja].[StandUpShow] ([IdDesavanja]) VALUES (10)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [mejl_Kor]    Script Date: 10/29/2025 6:45:46 PM ******/
CREATE NONCLUSTERED INDEX [mejl_Kor] ON [dbo].[Korisnik]
(
	[Email] ASC
)
INCLUDE([KorisnickoIme],[Lozinka],[Pretplacen],[Ime],[Prezime],[IdSlike],[NagradnaIgra],[BrojKupljenihKarata]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [rez_Kor]    Script Date: 10/29/2025 6:45:46 PM ******/
CREATE NONCLUSTERED INDEX [rez_Kor] ON [dbo].[RezervacijaIUplata]
(
	[IdDesavanja] ASC
)
INCLUDE([DatumVreme],[Iznos],[KorisnickoIme],[IdRU]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [desavanja_Datum]    Script Date: 10/29/2025 6:45:46 PM ******/
CREATE NONCLUSTERED INDEX [desavanja_Datum] ON [desavanja].[Desavanja]
(
	[DatumVreme] ASC
)
INCLUDE([IdDesavanja],[Opis],[Cena],[IdLokacije]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [desavanja_Lokacija]    Script Date: 10/29/2025 6:45:46 PM ******/
CREATE NONCLUSTERED INDEX [desavanja_Lokacija] ON [desavanja].[Desavanja]
(
	[IdLokacije] ASC
)
INCLUDE([IdDesavanja],[DatumVreme],[Opis],[Cena]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Korisnik] ADD  CONSTRAINT [difPret]  DEFAULT ((0)) FOR [Pretplacen]
GO
ALTER TABLE [dbo].[Korisnik] ADD  CONSTRAINT [difNagr]  DEFAULT ((0)) FOR [NagradnaIgra]
GO
ALTER TABLE [dbo].[Administrator]  WITH CHECK ADD  CONSTRAINT [R_2] FOREIGN KEY([KorisnickoIme])
REFERENCES [dbo].[Korisnik] ([KorisnickoIme])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Administrator] CHECK CONSTRAINT [R_2]
GO
ALTER TABLE [dbo].[Komentar]  WITH CHECK ADD  CONSTRAINT [R_15] FOREIGN KEY([KorisnickoIme])
REFERENCES [dbo].[Korisnik] ([KorisnickoIme])
GO
ALTER TABLE [dbo].[Komentar] CHECK CONSTRAINT [R_15]
GO
ALTER TABLE [dbo].[Korisnik]  WITH CHECK ADD  CONSTRAINT [R_10] FOREIGN KEY([IdSlike])
REFERENCES [dbo].[Slika] ([IdSlike])
GO
ALTER TABLE [dbo].[Korisnik] CHECK CONSTRAINT [R_10]
GO
ALTER TABLE [dbo].[Moderator]  WITH CHECK ADD  CONSTRAINT [R_1] FOREIGN KEY([KorisnickoIme])
REFERENCES [dbo].[Korisnik] ([KorisnickoIme])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Moderator] CHECK CONSTRAINT [R_1]
GO
ALTER TABLE [dbo].[RezervacijaIUplata]  WITH CHECK ADD  CONSTRAINT [R_17] FOREIGN KEY([KorisnickoIme])
REFERENCES [dbo].[Korisnik] ([KorisnickoIme])
GO
ALTER TABLE [dbo].[RezervacijaIUplata] CHECK CONSTRAINT [R_17]
GO
ALTER TABLE [dbo].[RezervacijaIUplata]  WITH CHECK ADD  CONSTRAINT [R_18] FOREIGN KEY([IdDesavanja])
REFERENCES [desavanja].[Desavanja] ([IdDesavanja])
GO
ALTER TABLE [dbo].[RezervacijaIUplata] CHECK CONSTRAINT [R_18]
GO
ALTER TABLE [desavanja].[Desavanja]  WITH CHECK ADD  CONSTRAINT [FK_Desavanja_IdSlike] FOREIGN KEY([IdSlike])
REFERENCES [dbo].[Slika] ([IdSlike])
GO
ALTER TABLE [desavanja].[Desavanja] CHECK CONSTRAINT [FK_Desavanja_IdSlike]
GO
ALTER TABLE [desavanja].[Desavanja]  WITH CHECK ADD  CONSTRAINT [R_16] FOREIGN KEY([IdLokacije])
REFERENCES [dbo].[Lokacija] ([IdLokacije])
GO
ALTER TABLE [desavanja].[Desavanja] CHECK CONSTRAINT [R_16]
GO
ALTER TABLE [desavanja].[Film]  WITH CHECK ADD  CONSTRAINT [R_3] FOREIGN KEY([IdDesavanja])
REFERENCES [desavanja].[Desavanja] ([IdDesavanja])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [desavanja].[Film] CHECK CONSTRAINT [R_3]
GO
ALTER TABLE [desavanja].[Izložba]  WITH CHECK ADD  CONSTRAINT [R_5] FOREIGN KEY([IdDesavanja])
REFERENCES [desavanja].[Desavanja] ([IdDesavanja])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [desavanja].[Izložba] CHECK CONSTRAINT [R_5]
GO
ALTER TABLE [desavanja].[Koncert]  WITH CHECK ADD  CONSTRAINT [R_7] FOREIGN KEY([IdDesavanja])
REFERENCES [desavanja].[Desavanja] ([IdDesavanja])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [desavanja].[Koncert] CHECK CONSTRAINT [R_7]
GO
ALTER TABLE [desavanja].[Ostalo]  WITH CHECK ADD  CONSTRAINT [R_9] FOREIGN KEY([IdDesavanja])
REFERENCES [desavanja].[Desavanja] ([IdDesavanja])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [desavanja].[Ostalo] CHECK CONSTRAINT [R_9]
GO
ALTER TABLE [desavanja].[Predstava]  WITH CHECK ADD  CONSTRAINT [R_4] FOREIGN KEY([IdDesavanja])
REFERENCES [desavanja].[Desavanja] ([IdDesavanja])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [desavanja].[Predstava] CHECK CONSTRAINT [R_4]
GO
ALTER TABLE [desavanja].[StandUpShow]  WITH CHECK ADD  CONSTRAINT [R_6] FOREIGN KEY([IdDesavanja])
REFERENCES [desavanja].[Desavanja] ([IdDesavanja])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [desavanja].[StandUpShow] CHECK CONSTRAINT [R_6]
GO
ALTER TABLE [dbo].[Administrator]  WITH CHECK ADD CHECK  ((len([BrojTelefona])>=(9) AND len([BrojTelefona])<=(10)))
GO
ALTER TABLE [dbo].[Korisnik]  WITH CHECK ADD  CONSTRAINT [JesteNije_1090459444] CHECK  (([NagradnaIgra]>=(0) AND [NagradnaIgra]<=(1)))
GO
ALTER TABLE [dbo].[Korisnik] CHECK CONSTRAINT [JesteNije_1090459444]
GO
ALTER TABLE [dbo].[Korisnik]  WITH CHECK ADD  CONSTRAINT [JesteNije_1623329207] CHECK  (([Pretplacen]>=(0) AND [Pretplacen]<=(1)))
GO
ALTER TABLE [dbo].[Korisnik] CHECK CONSTRAINT [JesteNije_1623329207]
GO
ALTER TABLE [dbo].[Korisnik]  WITH CHECK ADD  CONSTRAINT [LozinkaDovoljnoDuga_373858516] CHECK  ((len([Lozinka])>=(4)))
GO
ALTER TABLE [dbo].[Korisnik] CHECK CONSTRAINT [LozinkaDovoljnoDuga_373858516]
GO
ALTER TABLE [dbo].[Korisnik]  WITH CHECK ADD  CONSTRAINT [ProveraEmaila_2089248561] CHECK  (([Email] like '%@%.%'))
GO
ALTER TABLE [dbo].[Korisnik] CHECK CONSTRAINT [ProveraEmaila_2089248561]
GO
ALTER TABLE [desavanja].[Desavanja]  WITH CHECK ADD  CONSTRAINT [izmedjuNulaIJedan] CHECK  (([Zavrsilo]=(1) OR [Zavrsilo]=(0)))
GO
ALTER TABLE [desavanja].[Desavanja] CHECK CONSTRAINT [izmedjuNulaIJedan]
GO
ALTER TABLE [desavanja].[Koncert]  WITH CHECK ADD  CONSTRAINT [JesteNije_726780352] CHECK  (([KlasicnaMuzika]>=(0) AND [KlasicnaMuzika]<=(1)))
GO
ALTER TABLE [desavanja].[Koncert] CHECK CONSTRAINT [JesteNije_726780352]
GO
ALTER TABLE [desavanja].[Koncert]  WITH CHECK ADD  CONSTRAINT [JesteNije_80612555] CHECK  (([Opera]>=(0) AND [Opera]<=(1)))
GO
ALTER TABLE [desavanja].[Koncert] CHECK CONSTRAINT [JesteNije_80612555]
GO
/****** Object:  StoredProcedure [dbo].[CheckAndUpdateSubscriptions]    Script Date: 10/29/2025 6:45:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[CheckAndUpdateSubscriptions]
as
begin
    SET NOCOUNT ON;
    
    update dbo.Korisnik
    set Pretplacen = 0
    where KorisnickoIme IN (
        select K.KorisnickoIme
        from dbo.Korisnik K
        where K.Pretplacen = 1
        AND NOT EXISTS (
            select *
            from dbo.RezervacijaIUplata U
            where U.KorisnickoIme = K.KorisnickoIme
            and U.IdDesavanja is null
            and U.DatumVreme >= DATEADD(DAY, -5, GETDATE())
        )
    );
    
    PRINT 'Subscription check and update completed.';
END;
GO
/****** Object:  StoredProcedure [dbo].[DodajKomentar]    Script Date: 10/29/2025 6:45:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[DodajKomentar] @mail nvarchar(200), @Tekst nvarchar(1000)
as
begin
declare @helperDatum datetime;
set @helperDatum='2023-06-07 20:00:00';
declare @novId int;
SELECT @novId=(SELECT COALESCE(MAX(IdKomentara), 0) + 1 FROM dbo.Komentar);
declare @korime NVARCHAR(200);
select @korime=KorisnickoIme from dbo.Korisnik where Email=@mail;
insert into dbo.komentar(IdKomentara,DatumVreme,Tekst,KorisnickoIme) values(@novId,@helperDatum,@Tekst,@korime);
end
GO
/****** Object:  StoredProcedure [dbo].[dodavanjeLogina]    Script Date: 10/29/2025 6:45:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[dodavanjeLogina]
(
    @loginName NVARCHAR(100),
    @loginPassword NVARCHAR(100),
    @moderatorOrAdmin INT
)
AS
BEGIN
    DECLARE @sql NVARCHAR(MAX);
    
    SET @sql = N'CREATE LOGIN ' + QUOTENAME(@loginName) + N' WITH PASSWORD = ' + QUOTENAME(@loginPassword, '''') + N', CHECK_POLICY = OFF';
    EXEC (@sql);
    
    SET @sql = N'USE [kulturnovece];' +
               N'CREATE USER ' + QUOTENAME(@loginName) + N' FOR LOGIN ' + QUOTENAME(@loginName) + N';'
               
    IF @moderatorOrAdmin = 0
    BEGIN
        SET @sql = @sql + N'ALTER ROLE [moderator] ADD MEMBER ' + QUOTENAME(@loginName);
    END
    ELSE
    BEGIN
        SET @sql = @sql + N'ALTER ROLE [administrator] ADD MEMBER ' + QUOTENAME(@loginName);
    END;
    
    EXEC (@sql);
END;
GO
/****** Object:  StoredProcedure [dbo].[fPretragaPoTipu]    Script Date: 10/29/2025 6:45:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[fPretragaPoTipu]
	@tip nvarchar(200)
as 
BEGIN
    DECLARE @sql nvarchar(MAX);
    SET @sql = 'SELECT * FROM ' + QUOTENAME(@tip);
    EXECUTE sp_executesql @sql;
END;
GO
/****** Object:  StoredProcedure [dbo].[InsertKorisnik]    Script Date: 10/29/2025 6:45:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[InsertKorisnik]
    @Ime NVARCHAR(200),
    @Prezime NVARCHAR(200),
    @Email NVARCHAR(200),
    @KorisnickoIme NVARCHAR(200),
    @Lozinka NVARCHAR(100)
AS
BEGIN
    INSERT INTO Korisnik (Ime, Prezime, Email, KorisnickoIme, Lozinka)
    VALUES (@Ime, @Prezime, @Email, @KorisnickoIme, @Lozinka)
END
GO
/****** Object:  StoredProcedure [dbo].[ModeratorDodajeDesavanje]    Script Date: 10/29/2025 6:45:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[ModeratorDodajeDesavanje] @tip NVARCHAR(100), @datumvreme DATETIME, @naziv varchar(200), @lokacija nvarchar(200), @cena int, @put nvarchar(200), @opis NVARCHAR(1000)
as
begin
	declare @novId  int
	SELECT @novId=(SELECT COALESCE(MAX(IdSlike), 0) + 1 FROM dbo.Slika)
	INSERT INTO dbo.Slika (IdSlike, Putanja)
	VALUES ((SELECT COALESCE(MAX(IdSlike), 0) + 1 FROM dbo.Slika), @put);
	declare @novIdD int
	SELECT @novIdD=(SELECT COALESCE(MAX(IdDesavanja), 0) + 1 FROM desavanja.Desavanja);
	declare @idLok int
	select @idLok=(Select IdLokacije from dbo.Lokacija where Naziv=@lokacija);
	insert into desavanja.Desavanja(IdDesavanja, DatumVreme,Opis,Cena,IdLokacije,IdSlike,zavrsilo) values(@novIdD, @datumvreme, @opis,@cena, @idLok, @novId,0);
	if (@naziv like 'Opera')
	begin
		insert into desavanja.Koncert(IdDesavanja,Opera,KlasicnaMuzika) values (@novIdD,1,0);
	end
	else if (@naziv like 'Koncert klasične muzike' or @naziv like 'Koncert klasicne muzike')
	begin
		insert into desavanja.Koncert(IdDesavanja,Opera,KlasicnaMuzika) values (@novIdD,0,1);
	end
	else if (@naziv like 'Film%')
	begin
		insert into desavanja.Film(IdDesavanja,Trajanje,Naziv) values(@novIdD,'2023-01-01 12:00:00',@naziv);
	end
	else
	begin
		DECLARE @sql nvarchar(MAX);
		SET @sql = 'INSERT INTO desavanja.' + QUOTENAME(@tip)+ '(IdDesavanja) VALUES('+@novIdD+');';
		EXECUTE sp_executesql @sql;
	end



end
GO
/****** Object:  StoredProcedure [dbo].[PrijaviZaNagradnu]    Script Date: 10/29/2025 6:45:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[PrijaviZaNagradnu] @mail NVARCHAR(200)
as
begin
	update Korisnik
	set NagradnaIgra=1
	where Email=@mail
end
GO
/****** Object:  StoredProcedure [dbo].[procPretplati]    Script Date: 10/29/2025 6:45:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[procPretplati] @mail nvarchar(200)
as
begin
	declare @korime NVARCHAR(200);
	select @korime=KorisnickoIme from dbo.Korisnik where Email=@mail;
	declare @novId int;
	SELECT @novId=(SELECT COALESCE(MAX(IdRU), 0) + 1 FROM dbo.RezervacijaIUplata);
	insert into dbo.RezervacijaIUplata(DatumVreme,Iznos,KorisnickoIme,IdDesavanja,IdRU) values(SYSDATETIMEOFFSET ( ), 800, @korIme, null, @novId );
end
GO
/****** Object:  StoredProcedure [dbo].[PromeniSlikuProfila]    Script Date: 10/29/2025 6:45:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE procedure [dbo].[PromeniSlikuProfila] @novPut nvarchar(200), @mejl nvarchar(200)
as
begin
	declare @novId  int
	SELECT @novId=(SELECT COALESCE(MAX(IdSlike), 0) + 1 FROM dbo.Slika)
	INSERT INTO dbo.Slika (IdSlike, Putanja)
	VALUES ((SELECT COALESCE(MAX(IdSlike), 0) + 1 FROM dbo.Slika), @novPut);

	update dbo.Korisnik
	set IdSlike=@novId
	where Email=@mejl
	
end
GO
/****** Object:  StoredProcedure [dbo].[rezDogadjaj]    Script Date: 10/29/2025 6:45:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[rezDogadjaj] @mail varchar(100), @opis varchar(1000)
as
begin

	declare @korime varchar(200)
	select @korime=KorisnickoIme from dbo.Korisnik where Email=@mail
	declare @idDes int
	select @idDes=idDesavanja from desavanja.Desavanja where Opis=@opis
	declare @novId int;
	SELECT @novId=(SELECT COALESCE(MAX(IdRU), 0) + 1 FROM dbo.RezervacijaIUplata);
	declare @cena int
	select @cena=Cena from desavanja.Desavanja where IdDesavanja=@idDes
	if @cena is null
	begin
	set @cena=0
	end
	insert into dbo.RezervacijaIUplata(DatumVreme,Iznos,KorisnickoIme,IdDesavanja,IdRU) values(SYSDATETIMEOFFSET ( ),@cena,@korime,@idDes,@novId)
	update dbo.Korisnik
	set BrojKupljenihKarata=BrojKupljenihKarata+1
	where KorisnickoIme=@korIme

end
GO
/****** Object:  Trigger [dbo].[Pretplata]    Script Date: 10/29/2025 6:45:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE trigger [dbo].[Pretplata]
	on [dbo].[RezervacijaIUplata]
	for insert
	as
begin
	declare @idKorisnika nvarchar(200)
	declare @myCursor cursor

	set @myCursor = cursor for
	select KorisnickoIme
	from inserted
	where IdDesavanja is NULL
	open @myCursor
	fetch next from @myCursor
	into @idKorisnika

	while @@FETCH_STATUS = 0
	begin
		update Korisnik
		set Pretplacen = 1
		where KorisnickoIme=@idKorisnika

		fetch next from @myCursor
		into @idKorisnika
	end

	close @myCursor
	deallocate @myCursor

end
GO
ALTER TABLE [dbo].[RezervacijaIUplata] ENABLE TRIGGER [Pretplata]
GO
USE [master]
GO
